<h1>edit article</h1>
<%= form_for @article do |f| %>
    <%= f.label 'Article Title:'%>
    <%= f.text_field :title %><br>

    <%= f.label 'Article Description:'%>
    <%= f.text_field :description %><br>

    <%= f.submit 'Submit Article'%>
<% end %>

<%# Extra credit question - both fields do get updated, but if you don't change one of them it just gets passed the same string it was passed before.%>